---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { CV_PATH} from '../config';
---

<header>
	<h1 class = "font-bold text-lg">
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/cv.pdf" target="_blank">CurriculumVitae</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/xiang-l-77536a123/" target="_blank">LinkedIn</HeaderLink>
		<HeaderLink href="https://github.com/WesleyOMorrow" target="_blank">GitHub</HeaderLink>
		<!--
		<HeaderLink href="/resume">Resume</HeaderLink>
		<HeaderLink href="/posts">Projects</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		
		> -->
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
